node_modules
.DS_Store
dist
dist-ssr
*.local
.env
local.db
*.db
*.db-wal
*.db-shm
tests.db
__pycache__/
*.pyc
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# Local Netlify folder
.netlify
